.background {
  background-color: #e8cf78;
 float: left;
 position: absolute;
width: 600px;
height: 300px;
z-index: 15;
top: 50%;
left: 50%;
margin: -150px 0 0 -300px;
 font-family: Arial, Helvetica, sans-serif;
 font-size: 12px;
 line-height: 23px;
}

.topMenu {
  background-color: black;
  width: 600px;
  height: 40px;
  color:white;
}

#glyphonicTopMenu {
margin: 10px 0 0 20px;
  font-size: 20px;
}
